<a href="https://colab.research.google.com/github/asdfdd12345/colab/blob/main/Lession6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

6장 예제

In [1]:
for i in range(3) :
  print("난생처음 파이썬은 재미있습니다. ^^")

난생처음 파이썬은 재미있습니다. ^^
난생처음 파이썬은 재미있습니다. ^^
난생처음 파이썬은 재미있습니다. ^^

In [3]:
myList = ["짜장면", "김밥", "라면"]
for i in myList:
  print(i)

짜장면
김밥
라면

In [4]:
for i in range(2, 8, 2):
   print(i)

2
4
6

In [5]:
sum = 0
for i in range(1, 100, 2) :
  sum = sum + i
print(sum)

2500

In [10]:
flag = 1
sum = 0
for i in range(1, 100,2 ):
  if flag == 1 :
    sum = sum + i
    flag = flag * - 1
  else:
    sum = sum -i
    flag = flag * - 1
print(sum)

-50

In [2]:
fact = 1
friends_num = 5

for i in range(1, friends_num + 1, 1):
  fact = fact + 1
print("A,B,C,D,E 학생들을 순서대로 세우는 경우의 수 : ",fact)

A,B,C,D,E 학생들을 순서대로 세우는 경우의 수 :  6

In [12]:
hap = 0

for i in range(1, 11, 1):
    hap = hap + i

print("1에서 10까지의 합 : ", hap)

1에서 10까지의 합 :  55

In [13]:
i, hap = 0, 0

for i in range(1001, 2001, 2) :
    hap += i

print("1000에서 2000까지의 홀수의 합 :", hap)

1000에서 2000까지의 홀수의 합 : 750000

In [14]:
for i in range (3) :
    for k in range(2) :
      print("난생처음은 쉽습니다. ^^ (i값:", i,",k값:",k,")")

난생처음은 쉽습니다. ^^ (i값: 0 ,k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 0 ,k값: 1 )
난생처음은 쉽습니다. ^^ (i값: 1 ,k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 1 ,k값: 1 )
난생처음은 쉽습니다. ^^ (i값: 2 ,k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 2 ,k값: 1 )