<a href="https://colab.research.google.com/github/asdfdd12345/colab/blob/main/Lession6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

6장 예제

In [ ]:
for i in range(3) :
  print("난생처음 파이썬은 재미있습니다. ^^")

난생처음 파이썬은 재미있습니다. ^^
난생처음 파이썬은 재미있습니다. ^^
난생처음 파이썬은 재미있습니다. ^^

In [ ]:
myList = ["짜장면", "김밥", "라면"]
for i in myList:
  print(i)

짜장면
김밥
라면

In [ ]:
for i in range(2, 8, 2):
   print(i)

2
4
6

In [ ]:
sum = 0
for i in range(1, 100, 2) :
  sum = sum + i
print(sum)

2500

In [ ]:
flag = 1
sum = 0
for i in range(1, 100,2 ):
  if flag == 1 :
    sum = sum + i
    flag = flag * - 1
  else:
    sum = sum -i
    flag = flag * - 1
print(sum)

-50

In [ ]:
fact = 1
friends_num = 5

for i in range(1, friends_num + 1, 1):
  fact = fact + 1
print("A,B,C,D,E 학생들을 순서대로 세우는 경우의 수 : ",fact)

A,B,C,D,E 학생들을 순서대로 세우는 경우의 수 :  6

In [ ]:
hap = 0

for i in range(1, 11, 1):
    hap = hap + i

print("1에서 10까지의 합 : ", hap)

1에서 10까지의 합 :  55

In [ ]:
i, hap = 0, 0

for i in range(1001, 2001, 2) :
    hap += i

print("1000에서 2000까지의 홀수의 합 :", hap)

1000에서 2000까지의 홀수의 합 : 750000

In [ ]:
for i in range (3) :
    for k in range(2) :
      print("난생처음은 쉽습니다. ^^ (i값:", i,",k값:",k,")")

난생처음은 쉽습니다. ^^ (i값: 0 ,k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 0 ,k값: 1 )
난생처음은 쉽습니다. ^^ (i값: 1 ,k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 1 ,k값: 1 )
난생처음은 쉽습니다. ^^ (i값: 2 ,k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 2 ,k값: 1 )

In [1]:
for i in range(2,10):
 for j in range(1,10) :
  print(i, "X", j, "=", i * j)
  print("")

2 X 1 = 2

2 X 2 = 4

2 X 3 = 6

2 X 4 = 8

2 X 5 = 10

2 X 6 = 12

2 X 7 = 14

2 X 8 = 16

2 X 9 = 18

3 X 1 = 3

3 X 2 = 6

3 X 3 = 9

3 X 4 = 12

3 X 5 = 15

3 X 6 = 18

3 X 7 = 21

3 X 8 = 24

3 X 9 = 27

4 X 1 = 4

4 X 2 = 8

4 X 3 = 12

4 X 4 = 16

4 X 5 = 20

4 X 6 = 24

4 X 7 = 28

4 X 8 = 32

4 X 9 = 36

5 X 1 = 5

5 X 2 = 10

5 X 3 = 15

5 X 4 = 20

5 X 5 = 25

5 X 6 = 30

5 X 7 = 35

5 X 8 = 40

5 X 9 = 45

6 X 1 = 6

6 X 2 = 12

6 X 3 = 18

6 X 4 = 24

6 X 5 = 30

6 X 6 = 36

6 X 7 = 42

6 X 8 = 48

6 X 9 = 54

7 X 1 = 7

7 X 2 = 14

7 X 3 = 21

7 X 4 = 28

7 X 5 = 35

7 X 6 = 42

7 X 7 = 49

7 X 8 = 56

7 X 9 = 63

8 X 1 = 8

8 X 2 = 16

8 X 3 = 24

8 X 4 = 32

8 X 5 = 40

8 X 6 = 48

8 X 7 = 56

8 X 8 = 64

8 X 9 = 72

9 X 1 = 9

9 X 2 = 18

9 X 3 = 27

9 X 4 = 36

9 X 5 = 45

9 X 6 = 54

9 X 7 = 63

9 X 8 = 72

9 X 9 = 81

In [3]:
hap = 0
num1, num2 = 0, 0

while True : 2
  num1 = int(input("숫자1 ==> "))
  num2 = int(input("숫자2 ==> "))

  hap = num1 + num2
  print(num1, "+", num2, "=", hap)

숫자1 ==> 3
숫자2 ==> 4
3 + 4 = 7
숫자1 ==> 5
숫자2 ==> 3
5 + 3 = 8
숫자1 ==>

ValueError: ignored

In [18]:
import random
count = 0
while True :
  r1, r2 = random.randint(1,6), random.randint(1,6)
  r3 = random. randint(1,6)
  count = count + 1
  if r1 == r2 == r3 : break 
print("3개의 주사위는 모두 ", r1, "나왔다.")
print("같은 숫자가 나오기까지 ", count," 번 던졌습니다.")

3개의 주사위는 모두  6 나왔다.
같은 숫자가 나오기까지  70  번 던졌습니다.

In [26]:
import random 

computer, user = 0,0


for i in range(1, 11) :
  computer = random.randint(1, 5)
  print("게임", i, "회:", end='')
  user = int(input("컴퓨터가 생각한 숫자는? "))

  if computer == user :
    print("맞혔네요. 축하합니다!")
    break
  else :
    print("아까워요.", computer, " 였었는데. 다시 해.")
    continue
print("게임을 마칩니다.")

게임 1 회:컴퓨터가 생각한 숫자는? 1
맞혔네요. 축하합니다!
게임을 마칩니다.

In [58]:
import random
com_list = [1,2,3,4,5,6,7,8,9]
com_num, usr_num = [], []

def usr_fun() :
  usr = input("3개의 숫자를 입력(1~9까지) ==> ")
  for i in range(0,5,2) :
    usr_num.append(int(usr[i]))

for i in range(3) :
  r = random.choice(com_list)
  com_list.remove(r)
  com_num.append(r)

print("** 야구 게임 **")
usr = input("3개의 숫자를 입력 ==> ")
for i in range(0,5,2) :
  usr_num.appen(int(usr[i]))

strike, ball = 0, 0
while True :
  usr_num.clear()
  usr_fun()
 for i in range(3) :
  if com_num[i] == usr_num[i] :
     strike = strike + 1 
  elif usr_num[i] in com_num :
    ball = ball + 1
 print(strike, "스트라이크", " : ",ball, "볼")
 if strike == 3 : break
 strike, ball = 0, 0

IndentationError: ignored