<a href="https://colab.research.google.com/github/asdfdd12345/colab/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2장 예제

In [1]:
a = 100
b = 200
c = a + b

print(a, "+", b, "=", c)

100 + 200 = 300

In [2]:
num1 = 500
num2 = 200
result = num1 - num2
print(num1, "-", num2, "=", result)

500 - 200 = 300

In [3]:
num1 = 8
num2 = 17
result = num1 * num2
print(num1, "x", num2, "=", result)

8 x 17 = 136

In [4]:
num1 = 8
num2 =17
result = num1 / num2
print(num1, "/", num2, "=", result)

8 / 17 = 0.47058823529411764

나머지 구하는 연산자 : %

In [5]:
num1, num2 = 4, 2
result = num1 % num2
print(num1, "%", num2, "=", result)

4 % 2 = 0

몫을 구하는 연산자 : //

In [6]:
num1, num2 = 4, 2
result = num1 // num2
print(num1, "//", num2, "=", result)

4 // 2 = 2

문자열 연산자 :+,*

In [7]:
str1 = "안산공고"
str2 = "컴퓨터과"
result = str1 + str2
print(str1, "+", str2, "=", result)

안산공고 + 컴퓨터과 = 안산공고컴퓨터과

In [ ]:
str1 = "안산공고"
result = str1 * 3
print(str1, "*", 3, "=", result)

형성평가1

In [14]:
a = 100
b = 200
c = a + b
print(a, "+", b, "=", c)
a = 100
b = 200
c = a - b
print(a, "-", b, "=", c)
a = 100
b = 200
c = a * b
print(a, "*", b, "=", c)
a = 100
b = 200
c = a / b
print(a, "/", b, "=", c)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

input()함수의 사용 예

In [21]:
num1 = int(input("첫번째 숫자 입력 ==>"))
num2 = input("두번째 숫자 입력 ==>")
result = num1 + int(num2)
print(num1, "+", num2, "=", result)

첫번째 숫자 입력 ==>100
두번째 숫자 입력 ==>200
100 + 200 = 300

형성평가2

In [34]:
print ("## 택배를 보내기 위한 정보를 입력하세요 ##")
personName = input("받는 사람 :")
print(personName)
personAddr = input("주소 : ")
weight = int(input("무게(g) :"))

print("** 받는 사람 ==>", personName)
print("** 주소 =>", personAddr)

print("** 배송비 ==>", weight * 5, "원")

## 택배를 보내기 위한 정보를 입력하세요 ##
받는 사람 :권성현
권성현
주소 : 캄보디아
무게(g) :100
** 받는 사람 ==> 권성현
** 주소 => 캄보디아
** 배송비 ==> 500 원

형성평가3

In [35]:
print (in)

숫자1

거북이 1번 예제

In [71]:
#!pip3 install ColabTurtle
import ColabTurtle.Turtle as turtle


turtle.initializeTurtle()
turtle.right(45)
turtle.forward(100)
turtle.right(45)
turtle.forward(10)
turtle.right(45)
turtle.forward(100)
turtle.right(45)
turtle.right(45)
turtle.right(45)
turtle.forward(150)